.instagrams_form, #add_instagram_form {

    .ig-account-feature {
        margin-bottom: 10px;
    
        strong.feature-label {
            padding-left: 10px;
        }
    
        .params {
            >div {
                margin: 10px;

                $label-width: 65px;

                label {
                    display: inline-block;
                    width: $label-width;
                    font-weight: 600;
                }

                input, textarea {
                    margin-bottom: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    resize: none;
                    width: calc(100% - #{$label-width} - 5px);
                }

                .tokenfield {
                    display: inline-block;
                    margin-bottom: 10px;
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0px;
                }
            }
        }
    }

    .form-group:last-child {
        margin-top: 30px;
    }

}

.token-input {
    margin-top: 10px;
}

.tokenfield .token {
    margin: 10px 0px 10px 5px;
}