.instagrams_form {
    .single-wrap {

        .ig-account-feature {
            margin-bottom: 10px;
        
            strong.feature-label {
                padding-left: 10px;
            }
        
            .params {
                div {
                    margin: 10px;
        
                    input {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        >.form-group:last-child {
            margin-top: 30px;
        }
    }
}
