.ig-account-feature {
    margin-bottom: 10px;

    strong.feature-label {
        padding-left: 10px;
    }

    .params {
        div {
            margin: 10px;            
        }
    }
}

.submit-div {
    margin-top: 80px;
}
