<template name="UserSettingsCustomers">
	<h2>
		Customers
		<a class="btn btn-theme pull-right" href="{{pathFor 'user_settings.add_customer'}}">Add customer</a>
	</h2>
	{{#if errorMessage}}
	<div class="alert alert-warning">
		{{errorMessage}}
	</div>
	{{/if}}

	{{#if infoMessage}}
	<div class="alert alert-success">
		{{{infoMessage}}}
	</div>
	{{/if}}

	{{#each CustomerAccounts}}
		{{> CustomerSingle}}
	{{/each}}
</template>

<template name="CustomerSingle">
	<div class="tab-content col-sm-4">
		<div class="tab-pane text-center active" data-id="{{this._id}}">
			<h4><i class="fa fa-customer"></i> <span class="username">{{this.name}}</span></h4>
			<p>Email: {{this.email}}</p>
			<p>City: {{this.city}}</p>
			<p>State: {{this.state}}</p>

			<hr>

			<button class="edit-customer-account btn btn-info" data-loading-text="Please wait...">
				<span class="fa fa-pencil-square-o"></span> Edit
			</button>
			<button class="delete-customer-account btn btn-danger" data-loading-text="Please wait...">
				<span class="fa fa-times"></span> Delete
			</button>
		</div>
	</div>
</template>
